# Set environment details
APP_ENV=production
APP_DEBUG=false

# Set random string for Laravel app.
APP_KEY=someRansomString

# Set the root URL of the domain you wish to use this script with.
ROOT_URL=http://somedomain.com

# Set your database credentials here.
DB_HOST=localhost
DB_DATABASE=databasename
DB_USERNAME=username
DB_PASSWORD=password

# Set admin details for login.
# These values are used when seeding the users table
# in the database.
ADMIN_USERNAME=yourUsername
ADMIN_PASSWORD=yourPassword
ADMIN_FIRSTNAME=yourFirstName
ADMIN_LASTNAME=yourLastName
ADMIN_BITCOINADDRESS=13vYNWKj3npQTYr7EJVBhcoVkwncEbDUvJ
ADMIN_EMAIL=yourEmailAddress

CACHE_DRIVER=file
SESSION_DRIVER=file

# Set your Twitter config keys here.
# Note: You will need to create a Twitter app first,
# by going to https://apps.twitter.com/app/new.
# These details will be used when seeding the Twitter Config
# table in the database.
CONSUMER_KEY=yourConsumerKey
CONSUMER_KEY_SECRET=yourConsumerKeySecret
ACCESS_TOKEN=yourAccessToken
ACCESS_TOKEN_SECRET=yourAccessTokenSecret

# Add your MailGun details here.
# These are required for enabling password resets for
# the user login, and other potential features.
MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_API_KEY=yourMailgunAPIKey
MAIL_PORT=465
MAIL_ADDRESS=yourMailgunMailAddress
MAIL_NAME='yourMailgunMailName'
MAIL_USERNAME=yourMailgunMailUsername
MAIL_PASSWORD=yourMailgunMailPasswords
